body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(81, 58, 18);
  }

.navbar {
    overflow: hidden;
    background-color: rgb(75, 95, 20);
    position: sticky;
    top: 0;
    z-index: 1000;
  
}

.navbar a {
  float: left;
  display: block;
  color:chocolate;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;

}
.navbar a.right{
  float:right
}

.navbar a:hover {
  background-color: #180052;
  color: rgb(8, 119, 8);
}
#actores{
  background-color: rgb(0, 255, 34);
}

.header {
  padding: 80px;
  height: 50px;
  width: 315px;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  text-align: center;
  background-image:linear-gradient(
    to bottom,
    rgba(255,255,0,0.5),
    rgba(0,0,255,0.5)
  ), url("fotos/jurassic_park_door.jpg");
  color: rgb(0, 0, 0);
}

.head-principal{
  display: flex;
  align-items: center;
  padding: 10px
}

.title{
  border: #180052;
  background-image: none;
  color: rgb(255,255,255);
}

.logotip {
  margin-right: 370px;
  display: flex;
  align-items: left;
  justify-content: left;
  margin-top: 110px;
}

.logotip img {
  max-width: 100px;
  margin-right: 20px;
}

.color{
  color: rgb(255,255,255);
}

footer{
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
  padding: 10px 0px;
  position: relative;
  bottom: 0;
  width: 100%
}

td {
  padding: 10px;
  padding-left: 10px;
  text-align: left;
  border: 1px solid rgb(255,255,255);
}

td:first-child {
  background-color: rgb(3, 65, 3); /* Color claro para la primera columna */
  text-align: left;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

/* Aplicar animaciones a las imágenes */
.img-3 {
  margin-top: 10px;
  animation: fadeIn 1s ease-in-out, bounce 1s ease;
  animation-delay: 0.5s; /* Retraso para que la animación no inicie de inmediato */
}
img {
  margin-top: 10px;
}