body {
    font-family: Arial, Helvetica, sans-serif;
  }

.navbar {
  overflow: hidden;
  background-color: rgb(75, 95, 20);

}

.navbar a {
float: left;
display: block;
color:chocolate;
text-align: center;
padding: 14px 20px;
text-decoration: none;

}
.navbar a.right{
  float:right
}

.navbar a:hover {
  background-color: #180052;
  color: rgb(8, 119, 8);
}

#Home{
  background-color: rgb(0, 255, 34);
}


.header {
  padding: 80px;
  height: 50px;
  width: 315px;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  text-align: center;
  background-image:linear-gradient(
    to bottom,
    rgba(255,255,0,0.5),
    rgba(0,0,255,0.5)
  ), url("jurassic_park_door.jpg");
  color: rgb(0, 0, 0);
}

.logotip {
  display: flex;
  align-items: left;
  justify-content: left;
  margin-top: 20px;
}

.logotip img {
  max-width: 100px;
  margin-right: 20px;
}