body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(81, 58, 18);
  }

.navbar {
  overflow: hidden;
  background-color: rgb(75, 95, 20);

}

.navbar a {
float: left;
display: block;
color:chocolate;
text-align: center;
padding: 14px 20px;
text-decoration: none;

}
.navbar a.right{
  float:right
}

.navbar a:hover {
  background-color: #180052;
  color: rgb(8, 119, 8);
}

#Home{
  background-color: rgb(0, 255, 34);
}


.header {
  padding: 80px;
  height: 50px;
  width: 315px;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  text-align: center;
  background-image:linear-gradient(
    to bottom,
    rgba(255,255,0,0.5),
    rgba(0,0,255,0.5)
  ), url("jurassic_park_door.jpg");
  color: rgb(0, 0, 0);
}

.head-principal{
  display: flex;
  align-items: center;
  padding: 10px
}

.logotip {
  margin-right: 370px;
  display: flex;
  align-items: left;
  justify-content: left;
  margin-top: 110px;
}

.logotip img {
  max-width: 100px;
  margin-right: 20px;
}

.color{
  color: rgb(255,255,255);
}

.img-1 {
  margin-right: 20px;
}
.img-2 {
  margin-right: 500px;
}

footer{
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
  padding: 10px 0px;
  position: relative;
  bottom: 0;
  width: 100%
}